<div class="main-body">
  <div class="about-contents">
  <h1>Weather App</h1>
  <h3>
    This is a basic weather app that tells you the temperature and cloud cover of whichever
    city you would like to know about. Based on this information that app will give you some
    advise on things that you could do. This app is possible with the WeatherMap API which has been implemented</h3>
</div>
<div class="try-it">
  <%= link_to "Try it out!,", root_path %>
</div>
</div>
