<h1>WHAT IS THE WEATHER TODAY?</h1>
<%= form_tag root_path, style: "z-index: 1000;", method: :get do %>
            <div class="form-home">
              <%= text_field_tag :query,
                params[:query],
                placeholder: "Where are you now?"
              %>
              <%= button_tag "Go!" %>
              </div>
<% end %>

<% if @final_output.present?%>
<%= @final_output["main"]["temp"] %>
<% else %>
<h3>Please type your location in the search bar</h3>
<% end %>
