.main-body {
  margin-top: 30px;
  text-align: center;
}

h1 {
  font-family: 'Outfit', sans-serif;
}

.location-form {
  border-radius: 50px;
  background-color: yellow;
}

.location-input_box {
  border-radius: 8px;
  height: 32px;
  width: 400px;
  font-size: 20px;
  text-align: center;
  border-width: 1px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-family: 'Outfit', sans-serif;
  color: pink;
}
