.navbar {
  background-color: white;
  padding: 5px;
  width: 100%;
}

ul li{
  display: inline;
}

.navbar-item {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}
